@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');



* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

body{
    margin:0;
    padding:0;
}

.container {
    /*    border: 1px solid black;*/
    margin: 0 auto;
    width: 100%;
}

/*header section*/


header {
    min-height: 10vh;
    background-color: blueviolet;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 56px;
    width: 181px;
}

.logo:hover img {
    opacity: 0.5;
}

.logo:active img {
    opacity: 0.1;

}
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;

}

.nav-menu ul li {
    display: inline-block;
    text-align: center;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.nav-menu a:hover {
    color: #c7b299;
}

.nav-menu a:active {
    color: #c7b299;
}

.cart-button{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color:#fe1a00;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:16px 35px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}

.cart-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
    background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
}
.cart-button:active {
    position:relative;
    top:1px;
}
main{
    padding: 2% 5%;
}